*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
header{
    text-align: center;
    padding: 0;
    margin: 10px 100px;
}
h1{
    color: #e53170;
    font-size: 50px;
}
img{
    float: left;
    margin-right: 20px;
    height: 149.53px;
}
main{
    margin: 10px 5%;
}
.membro{
    width: 30%;
    background-color: #0f0e17;
    color: white;
    vertical-align: middle;
    box-shadow: 0 0 10px 1px #000000;
    float: left;
    margin: 1.5%;
    
}
a{
    color: #48bde0;
    text-decoration: none;
}